@page "/"

<h1>Hello,</h1>
<p>
    Welcome to your home assignment. <br>
    Please implement a word processing algorithm that will result in a display of letter (A-a are same) occurrences in a given file.<br>
    Fill free to display the result as a Pie Chart or sortable table.<br>
    The server had generated 2 sample files, to switch between the files alter appsettings:UseTestFile<br>
</p>
